# Target
CONFIG_IDF_TARGET="esp32p4"

# Use HP core at 360 MHz (max stable for esp32p4 in IDF v5.4)
CONFIG_ESP32P4_DEFAULT_CPU_FREQ_360=y

# MQTT
CONFIG_MQTT_PROTOCOL_311=y
CONFIG_MQTT_TRANSPORT_TCP=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Reduce binary size
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
